.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 20px 110px;
  align-items: center;
}

.darkModeButton{
  margin-bottom: 20px !important;
}

.dark-mode{
  color:white;
  background-color:#1B1B1B;
}

.ui.cards {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  margin-top: 40px;
}

.card:hover {
  transform: scale(1.1);
}

hr {
  width: 100%;
}
